@media (prefers-color-scheme: dark) {
    .window a {
        color: var(--dark-button-text);
    }

    .sidebar-button:hover {
        background-color: var(--dark-button-hover);
    }

    .sidebar-button:active {
        box-shadow: inset 0 0 0 1px var(--dark-button-text);
        color: var(--dark-button-text);
    }

    .shifter-button:hover {
        background-color: var(--dark-button-hover);
    }

    .shifter-button:active {
        box-shadow: inset 0 0 0 1px var(--dark-button-text);
        color: var(--dark-button-text);
    }
}

@media (prefers-color-scheme: light) {
    .window a {
        color: var(--light-button-text);
    }

    .sidebar-button:hover {
        background-color: var(--light-button-hover);
    }

    .sidebar-button:active {
        box-shadow: inset 0 0 0 1px var(--light-button-text);
        color: var(--light-button-text);
    }

    .shifter-button:hover {
        background-color: var(--dark-button-hover);
    }

    .shifter-button:active {
        box-shadow: inset 0 0 0 1px var(--dark-button-text);
        color: var(--dark-button-text);
    }
}

.draggable {
    position: absolute;
    top: 10px;
    left: 10px;
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.sidebar {
    font-family: Cambria, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-content {
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

.shifter-body {
    margin-left: 10px;
    margin-right: 10px;
    width: 600px;
    height: 300px;
}

.sidebar-button {
    font-weight: bold;
    font-style: italic;
    padding: 3px 10px;
}

.shifter-window-sidebar {
    display: flex;
    flex-direction: row;
}

.shifter-window-buttons {
    font-family: Cambria, serif;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.shifter-welcome h1 {
    font-size: 1.6em;
    margin: 0;
}

.shifter-welcome p {
    font-size: 0.9em;
}

.shifter-codepoints h2 {
    font-size: 1.2em;
    margin: 0;
}

.shifter-codepoints p {
    font-size: 0.9em;
}

.shifter-button {
    padding: 6px 10px;
    border: 1px solid;
}

.window-shifter-button {
    padding: 7px 30px;
    border: 1px solid;
    white-space: nowrap;
}

.sep {
    border-top: 1px solid;
    background-color: white;
}

.window-setting-main {
    margin: 0.7em;
}

.window-setting-main h3 {
    margin: 0;
}

.window-setting-main p {
    margin-top: 0.3em;
    font-size: 0.9em;
}

.reset h1 {
    font-size: 1.5em;
}

.reset p {
    font-size: 0.9em;
}

.reset-button {
    font-family: Cambria, serif;
    font-size: 1.7em;
    padding: 30px 40px;
    border: 1px solid;
}
