.draggable {
    position: absolute;
    top: 10px;
    left: 10px;
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    border: 1px solid;
}

.shifter-body {
    margin: 1em;
    width: 600px;
    height: 300px;
}

.shifter-button {
    font-weight: bold;
    font-style: italic;
    border: 1px solid;
}

.shifter-window-sidebar {
    display: flex;
    flex-direction: row;
}

.shifter-window-buttons {
    display: flex;
    flex-direction: column;
}
