@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@media (prefers-color-scheme: dark) {
    body {
        background: #252525;
        color: #ffffff;
    }

    a {
        color: #00e600;
        text-decoration: none;
    }

    a:hover {
        color: #00ff00;
    }

    a:active {
        color: #009400;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #f3f3f3;
        color: #000000;
    }

    a {
        color: #009000;
        text-decoration: none;
    }

    a:hover {
        color: #00d000;
    }

    a:active {
        color: #00e100;
    }
}

body {
    font-family: "JetBrains Mono", monospace;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.center {
    text-align: center;
}

p {
    font-size: 1.1em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
}

img.logo {
    width: 50%;
    height: auto;
}
