@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
body {
    font-family: "JetBrains Mono", monospace;
    background: #252525;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.center {
    text-align: center;
}

a {
    color: #00e600;
    text-decoration: none;
}

a:hover {
    color: #00ff00;
}

a:active {
    color: #009400;
}

.nav {
    font-size: 1.2em;
    font-weight: bold;
}

p {
    font-size: 1.1em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
}

img.logo {
    width: 50%;
    height: auto;
}
