  .titlebar {
      background-color: #808080;
      color: #FFFFFF;
      padding: 0.3em;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .titlebar-text {
      margin: 0;
      padding: 0.2em;
      font-size: 1em;
      font-weight: bold;
  }

  .titlebar-buttons {
      display: flex;
  }

  .titlebar-box {
      background-color: #000000;
      width: 25px;
      height: 25px;
      margin-left: 0.2em;
  }

  .window {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #ffffff;
      margin: 1em 15%;
      color: #000000;
  }

  .border {
      border-style: solid;
      border-top: none;
      border-color: #808080;
      border-width: 0.2em;
  }

  .button {
      color: #000000;
      padding: 15px 40px;
      border: solid;
      border-width: 2px;
  }

  .button:hover {
      background-color: #bebebe;
      color: #000000;
  }

  .button:active {
      box-shadow: inset 0 0 0 1px #000;
      color: #000000;
  }

  .nav {
      display: flex;
      gap: 10px;
      justify-content: center;
      padding: 20px;
  }

  @media (min-width:480px)  {
      .nav {
          flex-direction: column;
      }

  }
  @media (min-width:801px)  {
      .nav {
          flex-direction: row;
      }
  }
