:root {
    --titlebar-colour: #808080;
    --titlebar-text-colour: #ffffff;
    --titlebar-control-colour: #000000;

    --dark-window: #000000;
    --light-window: #ffffff;

    --dark-button-text: #ffffff;
    --dark-button-hover: #424242;

    --light-button-text: #000000;
    --light-button-hover: #bebebe;
}

@media (prefers-color-scheme: dark) {
    .window {
        background-color: var(--dark-window);
        color: var(--dark-button-text);
    }

    .button {
        color: var(--dark-button-text);
    }

    .button:hover {
        background-color: var(--dark-button-hover);
        color: var(--dark-button-text);
    }

    .button:active {
        box-shadow: inset 0 0 0 1px var(--dark-button-text);
        color: var(--dark-button-text);
    }
}

@media (prefers-color-scheme: light) {
    .window {
        background-color: var(--light-window);
        color: var(--light-button-text);
    }

    .button {
        color: var(--light-button-text);
    }

    .button:hover {
        background-color: var(--light-button-hover);
        color: var(--light-button-text);
    }

    .button:active {
        box-shadow: inset 0 0 0 1px var(--light-button-text);
        color: var(--light-button-text);
    }
}

.titlebar {
    background-color: var(--titlebar-colour);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titlebar-text {
    color: var(--titlebar-text-colour);
    margin: 0;
    padding: 0.2em;
    font-size: 1em;
    font-weight: bold;
}

.titlebar-buttons {
    display: flex;
}

.titlebar-box {
    background-color: var(--titlebar-control-colour);
    width: 25px;
    height: 25px;
    margin-left: 0.2em;
}

.window {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em 2%;
    box-shadow:
        inset -2px -2px var(--titlebar-colour),
        inset 2px 2px var(--titlebar-colour);
}

.button {
    padding: 15px 40px;
    border: solid;
    border-width: 2px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

@media (min-width: 801px) {
    .nav {
        flex-direction: row;
    }

    .window {
        margin: 1em 20%;
    }
}
