@font-face {
  font-family: 'Felix Tilting';
  src: url('/assets/fonts/Felixti.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Microsoft Sans Serif';
    src: url('/assets/fonts/micross.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Cambria;
    src: url('/assets/fonts/cambria/Cambria-01.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Cambria;
    src: url('/assets/fonts/cambria/cambriab.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Cambria;
    src: url('/assets/fonts/cambria/cambriai.woff2') format('woff2');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: Cambria;
    src: url('/assets/fonts/cambria/cambriaz.woff2') format('woff2');
    font-style: italic;
    font-weight: bold;
}

:root {
    --titlebar-colour: #808080;
    --titlebar-text-colour: #ffffff;
    --titlebar-control-colour: #000000;
    --titlebar-control-link: #c4c4c4;

    --window-font: 'Microsoft Sans Serif', sans-serif;
    --titlebar-font: 'Felix Tilting', serif;

    --dark-window: #000000;
    --light-window: #ffffff;

    --dark-button-text: #ffffff;
    --dark-button-hover: #424242;

    --light-button-text: #000000;
    --light-button-hover: #bebebe;
}

@media (prefers-color-scheme: dark) {
    .window {
        background-color: var(--dark-window);
        color: var(--dark-button-text);
    }

    .button {
        color: var(--dark-button-text);
    }

    .button:hover {
        background-color: var(--dark-button-hover);
        color: var(--dark-button-text);
    }

    .button:active {
        box-shadow: inset 0 0 0 1px var(--dark-button-text);
        color: var(--dark-button-text);
    }
}

@media (prefers-color-scheme: light) {
    .window {
        background-color: var(--light-window);
        color: var(--light-button-text);
    }

    .button {
        color: var(--light-button-text);
    }

    .button:hover {
        background-color: var(--light-button-hover);
        color: var(--light-button-text);
    }

    .button:active {
        box-shadow: inset 0 0 0 1px var(--light-button-text);
        color: var(--light-button-text);
    }
}

.titlebar {
    background-color: var(--titlebar-colour);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titlebar-text {
    font-family: var(--titlebar-font);
    color: var(--titlebar-text-colour);
    margin: 0;
    padding: 0.2em;
    font-size: 1em;
    font-weight: bold;
}

.titlebar-buttons {
    display: flex;
}

.titlebar-box {
    background-color: var(--titlebar-control-colour);
    width: 25px;
    height: 25px;
    margin-left: 0.2em;
}

.titlebar-box-link:hover {
    background-color: var(--titlebar-control-link);
}

.window-container {
    margin: 1em 2%;
}

.window {
    font-family: var(--window-font);
    box-shadow:
        inset -2px -2px var(--titlebar-colour),
        inset 2px 2px var(--titlebar-colour);
}

.button {
    padding: 10px 40px;
    border: solid;
    border-width: 1px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

@media (min-width: 801px) {
    .nav {
        flex-direction: row;
    }

    .window-container {
        margin: 1em 20%;
    }
}
