@media (prefers-color-scheme: dark) {
    .window {
        background-color: #000000;
        color: #FFFFFF;
    }

    .button {
        color: #FFFFFF;
    }

    .button:hover {
        background-color: #424242;
        color: #FFFFFF;
    }

    .button:active {
        box-shadow: inset 0 0 0 1px #FFFFFF;
        color: #FFFFFF;
    }

}

@media (prefers-color-scheme: light) {
    .window {
        background-color: #ffffff;
        color: #000000;
    }

    .button {
        color: #000000;
    }

    .button:hover {
        background-color: #bebebe;
        color: #000000;
    }

    .button:active {
        box-shadow: inset 0 0 0 1px #000;
        color: #000000;
    }
}

  .titlebar {
      background-color: #808080;
      color: #FFFFFF;
      padding: 0.3em;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .titlebar-text {
      margin: 0;
      padding: 0.2em;
      font-size: 1em;
      font-weight: bold;
  }

  .titlebar-buttons {
      display: flex;
  }

  .titlebar-box {
      background-color: #000000;
      width: 25px;
      height: 25px;
      margin-left: 0.2em;
  }

  .window {
      font-family: Arial, Helvetica, sans-serif;
      margin: 1em 15%;
  }

  .border {
      border-style: solid;
      border-top: none;
      border-color: #808080;
      border-width: 0.2em;
  }

  .button {
      padding: 15px 40px;
      border: solid;
      border-width: 2px;
  }

  .nav {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      padding: 20px;
  }

  @media (min-width:801px)  {
      .nav {
          flex-direction: row;
      }
  }
