---
import { Image } from 'astro:assets';
import logo from "../assets/logo.png";
import Layout from '../layouts/Layout.astro';
import Slideshow from '../components/Slideshow.astro';
---

<Layout title="ShiftOS: The Archive" description="ShiftOS was a game developed by Philip Adams and other developers. The original goal was to go from a bare terminal to a graphical user interface with full desktop features.">
    <div class="center">
        <Image src={logo} alt="ShiftOS Logo" class="logo" width={logo.width} height={logo.height} />
        <div class="window">
            <div class="titlebar">
                <p class="titlebar-text">ShiftOS: The Archive</p>
                <div class="titlebar-buttons">
                    <div class="titlebar-box"></div>
                    <div class="titlebar-box"></div>
                    <div class="titlebar-box"></div>
                </div>
            </div>
            <div class="container">
                <p>ShiftOS was a game developed by Philip Adams and other developers. The original goal was to go from a bare terminal to a graphical user interface with full desktop features.</p>
                <div class="nav">
                    <a class="button" href="history">History</a>
                    <a class="button" href="downloads">Downloads</a>
                    <a class="button" href="https://www.youtube.com/c/ShiftOS">Videos</a>
                </div>
            </div>
        </div>
        <!-- <div class="window" style="display:flex; flex-direction:column; height:80vh;">
            <div class="titlebar">
                <p class="titlebar-text">Screenshots</p>
                <div class="titlebar-buttons">
                    <div class="titlebar-box"></div>
                    <div class="titlebar-box"></div>
                    <div class="titlebar-box"></div>
                </div>
            </div>
            <Slideshow />
        </div> -->
    </div>
    <footer>
        <p><b>&copy; Copyright 2013-2025 ShiftOS Archive. Game originally made by Philip Adams.<br/>Website made by <a href="https://alee14.me">Andrew Lee</a>. <a href="https://github.com/Alee14/shiftos-website">Website source code.</a></b></p>
    </footer>
</Layout>
