<noscript>
    <div class="window-container">
        <div class="window">
            <div class="titlebar">
                <p class="titlebar-text">Warning</p>
                <div class="titlebar-buttons">
                    <div class="titlebar-box"></div>
                    <div class="titlebar-box"></div>
                    <div class="titlebar-box"></div>
                </div>
            </div>
            <div class="container">
                <h1>You have disabled JavaScript</h1>
                <p>Certain features may not work.</p>
            </div>
        </div>
    </div>
</noscript>
