<div class="window" style="display:flex; flex-direction:column; height:80vh;">
    <div class="titlebar">
        <p class="titlebar-text">Screenshots</p>
        <div class="titlebar-buttons">
            <div class="titlebar-box"></div>
            <div class="titlebar-box"></div>
            <div class="titlebar-box"></div>
        </div>
    </div>
</div>
